
<div class="row">
	<div class="col-xs-3">
		<section class="user-info">
			<h2>User info</h2>
			<div class="image">
				<%= attachment_image_tag @user, :profile_image_id, :fill, 100, 100, format: 'jpeg', class: "img-rounded pull-left profile-img", fallback: "no_image.jpg" %>
			</div>
			<table class="table">
				<tbody>
					<tr></tr>
					<tr>
						<th>name</th>
						<th><%= @user.name %></th>
					</tr>
					<tr>
						<th>introduction</th>
						<th><%= @user.introduction %></th>
					</tr>
				</tbody>
			</table>
			<%= link_to user_path(@user) do %>
			<span class="glyphicon glyphicon-wrench col-xs-12 btn btn-default editbutton" aria-hidden="true"></span>
		<% end %>
		</section>
	</div>
</div>



